<h1>Blog Admin Page - a.k.a Snoopy</h1>

<div>
<p><%= link_to "Manage Authors", authors_path %></p>
<p><%= link_to "Manage Categories", categories_path %></p>
<p><%= link_to "Back to Site Index Page", posts_path %></p>
</div>
